.taskStatusButton {
    margin: 20px 10px 20px 20px;
    background-color: rgb(88, 168, 137);
    font-weight: bold;
    padding: 6px;
    border: none;
}

.taskStatusButton:hover, .taskStatusButton:focus {
    background-color: rgb(86, 148, 202);
}

.linkHeader {
    display: inline-block;
    flex-direction: row;
}

